USE [master]
GO
/****** Object:  Database [Cash_register]    Script Date: 14.10.2021 20:48:55 ******/
CREATE DATABASE [Cash_register]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cash_register', FILENAME = N'C:\MSSQL server express\MSSQL15.SQLEXPRESS\MSSQL\DATA\Cash_register.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cash_register_log', FILENAME = N'C:\MSSQL server express\MSSQL15.SQLEXPRESS\MSSQL\DATA\Cash_register_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cash_register].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cash_register]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 14.10.2021 20:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[WorkersId] [int] IDENTITY(1,1) NOT NULL,
	[LName] [nvarchar](50) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[MName] [nvarchar](50) NOT NULL,
	[RoleWorker] [nvarchar](15) NOT NULL,
	[PinCode] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Workers] ON 

INSERT [dbo].[Workers] ([WorkersId], [LName], [FName], [MName], [RoleWorker], [PinCode]) VALUES (1, N'Борковский', N'Владимир', N'Владимирович', N'Администратор', N'123zxc')
SET IDENTITY_INSERT [dbo].[Workers] OFF
GO
USE [master]
GO
